:root{
    --color1:hsl(123, 100%, 69%);
    --color2:hsl(0, 0%, 100%);
    --color3:hsl(0, 0%, 0%);

}

title{
    font-weight: bolder;
    color:var(--color1)
}
*{
    font-family: system-ui;
    background-color: hsl(225, 89%, 11%);
    display: grid;
    place-items: center;
    color: hsl(224, 84%, 59%);

}
h1{
    color: var(--color2);
}
input[type="text"]{
    cursor: pointer;
    margin-bottom: 5px;
    outline: none;
    padding: 10px;
    border: none;
    color:var(--color2);
    background: rgba(117, 116, 116, 0.4);
    border-bottom: 2px solid var(--color1);
}
#p{
    margin-top: 10px;
    display: none;
}
p{
    border: 2px solid var(--color1);
    padding: 4px;
    border-radius: 5px;
    display: none;
    color: var(--color1);
    font-weight: bolder;
}
button{
    outline: none;
    border: none;
    padding: 3px;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.3);
    background: var(--color1);
    color: var(--color3);
    font-weight: 900;
}
button:hover{
    letter-spacing: 1px;
}

#span{
    color:var(--color1);
    
}
#bottom{
    display: none;
    font-weight: bolder;

}
span{
    color: var(--color2);
}